.skin-purple .main-header .navbar {
    background-color: #ff7bac;
}

.skin-purple .main-header .navbar .sidebar-toggle:hover {
    background-color: #ff7bac;
}

.skin-purple .main-header .logo:hover {
    background-color: #ff7bac;
}

.skin-purple .main-header .logo {
    background-color: #ff7bac;
}